*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
    
    
}
/* navbar styling */

.nav-area ul{
    display: flex;
    padding-top: 20px;
    float: right;
}
.nav-area ul li{
    list-style: none;
    position: relative;
    display:inline-block;
    margin: 0 20px;
}
.nav-area ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    opacity: 0.8;
}

.nav-area ul li a:hover{
    opacity: 1;
}

.nav-area ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #F96C18;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.nav-area ul li:hover::after{
    width: 100%;
}



body {
    
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0, 0, 0, 0.40)),url("../images/newsd3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #F96C18;
    font-size: 50px;
    position: relative;
    top: 100px;
    left: 590px;
    width: fit-content;
}

.pasinduImg {
    position: relative;
    top: 150px;
    left: 300px;
    width:fit-content;
    
}

.oshadiImg {
    position: absolute;
    top: 700px;
    left: 300px;
    width: fit-content;
}

.shakyaImg {
    position: absolute;
    top: 1180px;
    left: 300px;
    width: fit-content;
}

.kumuduImg {
    position: absolute;
    top: 1620px;
    left: 300px;
    width: fit-content;
}

img {
    border-radius: 20px;
    border-style:solid;
    border-width: 2px;
    border-color: orangered;
}

img:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(230,230,230,0.3);
}

.hide1 {
    display: none;
    text-align: center;
    width: fit-content;
    position: relative;
    top: -140px;
    left: 700px;
    border-style:solid;
    border-width: 7px;
    border-color: orangered;
    border-radius: 50px;
    padding: 20px;
}
  
.pasinduImg:hover + .hide1 {
    display:block;
    color: white;
    font-size: 30px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 3s;
}

.hide2 {
    display: none;
    text-align: center;
    width: fit-content;
    position: relative;
    top: 330px;
    left: 700px;
    border-style:solid;
    border-width: 7px;
    border-color: orangered;
    border-radius: 50px;
    padding: 20px;
  }

.oshadiImg:hover + .hide2 {
    display:block;
    color: white;
    font-size: 30px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 3s;
}

.hide3 {
    display: none;
    text-align: center;
    width: fit-content;
    position: relative;
    top: 780px;
    left: 700px;
    border-style:solid;
    border-width: 7px;
    border-color: orangered;
    border-radius: 50px;
    padding: 20px;
  }
  
.shakyaImg:hover + .hide3 {
    display:block;
    color: white;
    font-size: 30px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 3s;
}

.hide4 {
    display: none;
    text-align: center;
    width: fit-content;
    position: relative;
    top: 1250px;
    left: 700px;
    border-style:solid;
    border-width: 7px;
    border-color: orangered;
    border-radius: 50px;
    padding: 20px;
  }
  
.kumuduImg:hover + .hide4 {
    display:block;
    color: white;
    font-size: 30px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 3s;
    
}

.topBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: 1px solid white;
    background-color: #0D0D0D;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}
.topBtn i  {
    font-size: 30px;
}
.topBtn:hover{
    background-color: #ff5e00;
    outline: 1px solid #0D0D0D;
}

/* Footer area styling */

.footer-area{
    position: absolute;;
    margin-top: 300px;
    left: 0;
    top:1900px;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.40);
    text-align: center;
}

.border-bar{
    
    position: relative;
    width:100%;
    height: 2px;
    background-color: #F96C18;
    opacity: 0.2;
}


/* social icons */
.social-icons {
    margin-top: 15px;
}
.social-icons a{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
 
}
.social-icons li{
    display: inline;
}

.social-icons i {
    color: #ffffff;
    padding :0 5px;
    opacity: 0.7;
}

.social-icons i:hover{
    opacity: 0.9;
}

.brand {
    color:#F96C18;
    font-size: 20px;
    font-weight: normal;
    opacity: 0.9;
}

.editor{
    color: #a9a9a9;
}

.editor a{
    text-decoration: none;
    color: #a9a9a9;
    font-size: 15px;
    opacity: 0.7;
}
.editor a:hover{
    opacity: 0.8;
}

.logo {
    position: absolute;
    left: -10px;
    top: -90px;
}

#imgLogo {
    border: 0;
}

#imgLogo:hover {
    box-shadow: none;
    border-style:none;
    border-width: none;
    border-color: none;
    transform: none;

}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}